.root {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    width: var(--size);
    height: var(--size);
}

.root img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.root,
.fallback {
    border-radius: var(--radius-full);
}
